[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mpae"]
	path = mpae
	url = https://github.com/rubenfcasal/mpae
[submodule "npsp"]
	path = npsp
	url = https://github.com/rubenfcasal/npsp
